<div class="container">
	<div class="row">
		<div class="col-6 offset-3 text-center my-5">

			<h1>Hello world!</h1>

			<p>This is the {{title}}</p>

			<p><img src="/assets/img/{{img}}" alt="random cat" class="img-fluid w-100"></p>

			<p><a href="https://github.com/omundy/sample-node-express-template" target="_blank">README</a></p>

		</div>
	</div>
</div>
